local Main = Instance.new("ImageLabel")
local h = Instance.new("ScreenGui")
local Title = Instance.new("TextLabel")

h.Name = "h"
h.Parent = game:GetService("CoreGui")
h.ResetOnSpawn = false
 
Main.Name = "Main"
Main.Parent = h
Main.Active = true
Main.Draggable = false
Main.BackgroundColor3 = Color3.fromRGB(255, 255, 255)
Main.BorderSizePixel = 0
Main.Position = UDim2.new(0, 0, 0, 0)
Main.Size = UDim2.new(0, 1950, 0, 1300)
Main.Image = "rbxassetid://2005276185"

Title.Name = "Title"
Title.Parent = Main
Title.BackgroundColor3 = Color3.fromRGB(49, 49, 49)
Title.BorderSizePixel = 0
Title.Position = UDim2.new(0, 0, 0.295454562, 0)
Title.Size = UDim2.new(0, 454, 0, 30)
Title.Font = Enum.Font.SourceSans
Title.Text = "skill issues cant play without hacking"
Title.TextColor3 = Color3.fromRGB(255, 255, 255)
Title.TextScaled = true
Title.TextSize = 14.000
Title.TextWrapped = true

wait(1)

Title1.Name = "Title1"
Title1.Parent = Main
Title1.BackgroundColor3 = Color3.fromRGB(49, 49, 49)
Title1.BorderSizePixel = 0
Title1.Position = UDim2.new(0.14, 0, 0.295454562, 0)
Title1.Size = UDim2.new(0, 454, 0, 30)
Title1.Font = Enum.Font.SourceSans
Title1.Text = "kys"
Title1.TextColor3 = Color3.fromRGB(255, 255, 255)
Title1.TextScaled = true
Title1.TextSize = 14.000
Title1.TextWrapped = true
